{% extends 'base.html' %}

{% block main %}

<div class="card mt-5">
    <div class="card-title mx-2">
        <div class="row">
          <div class="col-6">
            <h3>Clientes</h3>
            <a href="{% url 'create_fornecedores' %}"><button class="btn btn-primary">Cadastrar Fornecedor <img src="#"> </button></a>
          </div>
          <div class="col-6" style="margin-top: 1cm; padding-left: 9cm;">
            <a href="{% url 'home' %}"><button class="btn btn-secondary"><img src="#"> Voltar</button></a>
          </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" style="width: 100%;">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for fornecedor in object_list %}
                  <tr>
                    <th scope="row">{{fornecedor.id}}</th>
                    <td>{{fornecedor.nome}}</td>
                    <td>{{fornecedor.telefone}}</td>
                    <td>{{fornecedor.email}}</td>
                    <td><a href="{% url 'update_fornecedores' fornecedor.id %}"><button class="btn btn-secondary"><img src="#">  Editar</button></a></td>
                    <td><a href="{% url 'delete_fornecedores' fornecedor.id %}"><button class="btn btn-danger"><img src="#">  Deletar</button></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}