{% extends 'base.html'%}
{% load bootstrap %}
{%block main%}
    <div>
        <div class="card card-login">
            <div class="card-header"><h3>Login</h3></div>
            <div class="card-body">
                <form  method="post">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <br>
                    <button type="submit" class="btn btn-primary">Acessar Sistema</button>
                </form>
            </div>
        </div>
    </div>

{%endblock%}