{% extends 'base.html' %}

{% block main %}

<div class="card mt-5">
    <div class="card-title mx-2">
        <div class="row">
          <div class="col-6">
            <h3>Produtos</h3>
            <a href="{% url 'create_produtos' %}"><button class="btn btn-primary">Cadastrar Produto  </button></a>
          </div>
          <div class="col-6" style="margin-top: 1cm; padding-left: 9cm;">
            <a href="{% url 'home' %}"><button class="btn btn-secondary"> Voltar</button></a>
          </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" style="width: 100%;">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor(R$)</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for produto in object_list %}
                  <tr>
                    <th scope="row">{{produto.id}}</th>
                    <td>{{produto.nome}}</td>
                    <td>R$ {{produto.valor_unitario}}</td>
                    <td><a href="{% url 'update_produtos' produto.id %}"><button class="btn btn-secondary">  Editar</button></a></td>
                    <td><a href="{% url 'delete_produtos' produto.id %}"><button class="btn btn-danger">  Deletar</button></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}