{%extends 'base.html'%}

{% block title%} Ordens de Serviços{% endblock %}

{%block main%}

<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <h3>Você tem certeza que deseja deletar o {{ordem.cliente.nome}}</h3>
            {{form}}
            
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <a href="{% url 'list_ordens' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
            
        </form>
    </div>
</div>


{%endblock%}