{% extends 'base.html' %}

{% block main %}
  {% load bootstrap %}

  <div class="card">
    <h1>Nova Ordem de Serviço</h1>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        {{ formset.management_form }}


        <p> </p>
        <table class="table table-bordered" id="{{ formset.prefix }}-table">
          <thead>
            <tr>
              <th>Serviço</th>
              <th>Quantidade</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset %}
              <tr>
                <td>{{ form.servico|bootstrap }}</td>
                <td>{{ form.quantidade|bootstrap }}</td>
                <td>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Confirmar</button>
        <a href="{% url 'list_ordens' %}" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(function () {
      $('#{{ formset.prefix }}-table tbody tr').formset({
        prefix: '{{ formset.prefix }}',
        addText: '+ Adicionar Serviço',
        deleteText: 'Remover Serviço',
        addCssClass: 'btn btn-success btn-sm',
        deleteCssClass: 'btn btn-danger btn-sm',
      });
    });
  </script>
{% endblock scripts %}